<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>La tua lista della spesa</title>
    </head>
    <body>
        <h1>La tua Lista della Spesa</h1>
            {% if listaSpesa %}
                <ul>
                {% for elemento in listaSpesa %}
                    <li>{{ elemento }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <h2>La lista è vuota.</h2>
            {% endif %}
        </div>
    </body>
</html>